# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.env
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
/staticfiles/
media/
*.sqlite3

# IDE/Editor
.vscode/
.idea/

# Others
*.egg-info/
*.egg


.coverage
htmlcov/
pytest_cache/
*.sql
*.bak
tewa/migrations/*.pyc
.DS_Store
Thumbs.db

# ignore core dumps
core.*
