# Django Environment
DJANGO_SECRET_KEY=override-in-.env
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,myserver.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://myserver.com

# Database
POSTGRES_DB=missile_model_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=2020
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Redis / Celery
CELERY_BROKER_URL=redis://localhost:6379/0

# Gunicorn
GUNICORN_WORKERS=5
GUNICORN_TIMEOUT=90
